
SPARK_DATA_PORT=7077
AIRFLOW_HOST_PORT=8080
SPARK_MASTER_UI_HOST_PORT=8081

AIRFLOW_CONTAINER_PORT=8080
SPARK_MASTER_CONTAINER_PORT=8080

DATABASE_DATA_PORT=8123
DATABASE_METRIC_PORT=9000
CLICKHOUSE_HOST=clickhouse
CLICKHOUSE_DATABASE=analytics
CLICKHOUSE_USER=admin
CLICKHOUSE_PASSWORD=admin123
CLICKHOUSE_RETRIES=5
CLICKHOUSE_DELAY=5

GRAFANA_PORT=3000
GRFANA_USER=admin
GRAFANA_PASSWORD=admin

AIRFLOW_RETRIES=3
AIRFLOW_DELAY=10